<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllBook">
		SELECT BOOK_ID
			, BOOK_TITLE
			, BOOK_AUTHOR
			, PUBLISH_DATE
			, ENROLL_DATE
			, AGE_RANK
	        , STATUS
		FROM BOOK
	</entry>
	<entry key="changeStatusBook">
		UPDATE BOOK
		SET STATUS = ?
		WHERE BOOK_ID = ?
	</entry>
	
	<entry key="removeCkNCategory">
		DELETE BOOK_CATEGORY
		WHERE BOOK_ID = ?
	</entry>
	<entry key="removeCkNBook">
		DELETE BOOK
		WHERE BOOK_ID = ?
	</entry>
	
	<entry key="removeAllNCategory">
		DELETE BOOK_CATEGORY
		WHERE BOOK_ID IN (SELECT BOOK_ID
						 FROM BOOK
						 WHERE STATUS = 'N')
	</entry>
	<entry key="removeAllNBook">
		DELETE BOOK
		WHERE STATUS = 'N'
	</entry>
	
	
</properties>