<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBook">
		SELECT BOOK_ID,
	           BOOK_TITLE,
	           BOOK_AUTHOR,
	           PUBLISHER,
	           PUBLISH_DATE,
	           ENROLL_DATE,
	           STATUS,
	           SUMMARY
		FROM BOOK
		WHERE BOOK_ID = ?
	</entry>
	<entry key="countRentUser">
		SELECT COUNT(*) RCOUNT
		FROM RENT
		WHERE USER_NO = ?
	</entry>
	<entry key="insertRentBook">
		INSERT INTO RENT(BOOK_ID,USER_NO)
		VALUES(?,?)
	</entry>
	<entry key="statusY">
		UPDATE BOOK
		SET STATUS = 'Y'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusB">
		UPDATE BOOK
		SET STATUS = 'B'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusR">
		UPDATE BOOK
		SET STATUS = 'R'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusN">
		UPDATE BOOK
		SET STATUS = 'N'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="increaseRentCount">
		UPDATE BOOK
		SET RENT_COUNT = RENT_COUNT + 1
		WHERE BOOK_ID = ?
	</entry>
	<entry key="listCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
	</entry>
	
	<entry key="allList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
           	  FROM (SELECT BOOK_ID,
				           BOOK_TITLE,
				           BOOK_AUTHOR,
				           PUBLISHER,
				           PUBLISH_DATE,
				           ENROLL_DATE,
	           			   STATUS
					FROM BOOK) A)
	    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="changeCategory">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
           	  FROM (SELECT BOOK_ID,
						BOOK_TITLE,
						BOOK_AUTHOR,
						PUBLISHER,
						PUBLISH_DATE,
						ENROLL_DATE,
						STATUS
					FROM BOOK B
					JOIN BOOK_CATEGORY C USING(BOOK_ID)
					WHERE CATEGORY_NO = ?) A)
	    WHERE RNUM BETWEEN ? AND ?
	</entry>
	

	<entry key="selectCategory">
		SELECT CATEGORY_NO,
			   CATEGORY_NAME
		FROM BOOK_CATEGORY_INFO
	</entry>

</properties>