<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="hopeBookInsert">
		INSERT INTO HOPE_BOOK(HOPE_NUM,
					HOPE_USER,
					HOPE_TITLE,
					HOPE_AUTHOR,
					HOPE_CONTENT,
                    HOPE_PUBLIC)
		VALUES(SEQ_HNO.NEXTVAL,
				?,
				?,
				?,
				?,
                ?)
	</entry>
	
	<entry key="selectHopeList">
	<!-- 
		SELECT HOPE_NUM,
		       USER_ID,
		       HOPE_TITLE,
		       HOPE_DATE,
		       HOPE_PUBLIC
		FROM HOPE_BOOK
		JOIN MEMBER ON(HOPE_USER = USER_NO)
	 -->
	 
		SELECT *
		FROM (  SELECT ROWNUM RNUM, A.*
		        FROM (  SELECT HOPE_NUM,
		                       USER_ID,
		                       HOPE_TITLE,
		                       HOPE_DATE,
		                       HOPE_PUBLIC
		                FROM hope_book HB
		                JOIN member on(user_no = hope_user)
		                ORDER BY hope_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="hopeBookDetail">
		SELECT HOPE_NUM,
			   USER_ID,
		       HOPE_TITLE,
		       HOPE_AUTHOR,
		       HOPE_CONTENT,
		       HOPE_DATE,
		       HOPE_PUBLIC,
		       HOPE_STATE
		FROM HOPE_BOOK
		JOIN MEMBER ON (USER_NO = HOPE_USER)
		WHERE HOPE_NUM = ?
	</entry>
	
	<entry key="deleteHope">
		DELETE HOPE_BOOK
		WHERE HOPE_NUM = ?
	</entry>
	
	<entry key="listCount">
		select count(*) COUNT
		from hope_book
	</entry>
	
</properties>