<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 로그인 구문 -->
	<entry key="loginMember">
	SELECT *
	FROM MEMBER
	WHERE USER_ID = ?
	AND USER_PWD = ?
	AND STATUS = 'Y'
	
	
	</entry>
	<!-- 회원가입 구문 -->
	<entry key="insertMember">
	INSERT INTO MEMBER(USER_NO
                   ,USER_ID
                   ,USER_PWD
                   ,USER_NAME
                   ,USER_NNO
                   ,PHONE
                   ,EMAIL
                   ,ADDRESS) 
    VALUES (SEQ_UNO.NEXTVAL,?,?,?,?,?,?,?)
	
	</entry>
	<!-- 정보수정 구문 -->
	<entry key="updateMember">
	UPDATE MEMBER
	SET USER_NAME= ?
    	,PHONE= ?
    	,EMAIL= ?
    	,ADDRESS= ?
	WHERE USER_ID= ?
	
	</entry>
	
	<entry key="selectMyRent">
	SELECT BOOK_ID
       	   ,RETURN_DATE
           ,BOOK_TITLE
           ,BOOK_AUTHOR
           ,PUBLISHER
	FROM RENT
	JOIN BOOK USING(BOOK_ID)
	WHERE USER_NO= ?
	
	
	</entry>

</properties>