<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- QnA 관련 -->
	
	<entry key="increaseCount">
		UPDATE BOARD 
		SET COUNT = COUNT + 1
		WHERE BOARD_NO = 1
		AND STATUS = 'Y'
	</entry>
	
	
	<entry key="selectQList">
	SELECT *
	FROM(SELECT ROWNUM RNUM, A.*
	        FROM(SELECT BOARD_NO,
	                   BOARD_TYPE_NO,
	                   USER_ID, 
	                   BOARD_TITLE,
	                   BOARD_CONTENT,
	                   CREATE_DATE,
	                   COUNT
	            FROM BOARD B
	            JOIN MEMBER USING (USER_NO)
	            WHERE B.STATUS='Y'
	            AND BOARD_TYPE_NO = 1
	            ORDER BY CREATE_DATE DESC,BOARD_NO DESC) A)
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectRList">
	SELECT *
	FROM(SELECT ROWNUM RNUM, A.*
	    FROM(SELECT R.BOARD_NO,
	               USER_ID,
	               REPLY_CONTENT,
	               R. CREATE_DATE
	        FROM REPLY R
	        JOIN MEMBER M ON (R.REPLY_WRITER = M.USER_NO)
	        JOIN BOARD B ON (R.BOARD_NO = B.BOARD_NO)
	        WHERE R.STATUS = 'Y'
	        AND BOARD_TYPE_NO = 1
	        ORDER BY CREATE_DATE DESC) A)
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
   	<entry key="insertQnA">
   	
   		INSERT INTO BOARD(BOARD_NO
		                  ,BOARD_TYPE_NO
		                  ,USER_NO    
		                  ,BOARD_TITLE
		                  ,BOARD_CONTENT
		                  ,CREATE_DATE)
		VALUES (SEQ_TNO.NEXTVAL,1,?,?,?,SYSDATE)
   	
   	</entry>
   	
   	
   	
   	<!--- freeBoard 관련ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   	
   	<!-- 게시글 수 조회 -->
    <entry key="listCount">
    	SELECT COUNT(*) COUNT 
		FROM BOARD
		WHERE BOARD_TYPE_NO = 3
		AND STATUS = 'Y'
    </entry>
    
    
    <!-- 게시글 목록 조회 -->
    <entry key="selectFreeboardList">
    	SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		        FROM(SELECT BOARD_NO
		                   ,USER_ID
		                   ,BOARD_TITLE
		                   ,CREATE_DATE
		                   ,COUNT       
		            FROM BOARD B
		            JOIN MEMBER USING (USER_NO)
		            WHERE B.STATUS = 'Y'
		            AND BOARD_TYPE_NO = 3
		            ORDER BY CREATE_DATE DESC,BOARD_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
    </entry>
    
    <!-- 조회수 증가 -->
   	<entry key="increaseCount">
   		UPDATE BOARD
		SET COUNT = COUNT + 1
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
   	</entry>
   	
   	
   	<!-- 게시글 조회 -->
   	<entry key="selectFreeBoard">
   		SELECT BOARD_NO,
		       USER_ID,
		       USER_NO,
		       BOARD_TITLE,
		       BOARD_CONTENT,
		       COUNT,
		       CREATE_DATE
		FROM BOARD B 
		JOIN MEMBER USING(USER_NO)
		WHERE BOARD_NO = ?
		AND B.STATUS='Y'
   	</entry>
   	
   	
   	<!-- 이전글 다음글 조회  -->
   	<entry key="preNnext">
	   	
	  -- 이전 글
	SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE, 'previous' AS post_position
	FROM ( SELECT ROWNUM AS rnum, BOARD_NO, BOARD_TITLE, CREATE_DATE
	    FROM (SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE
	                FROM BOARD
	                WHERE STATUS = 'Y'
	                  AND BOARD_TYPE_NO = 3
	                ORDER BY CREATE_DATE DESC, BOARD_NO DESC) )
	WHERE rnum = (SELECT rnum - 1
	                            FROM ( SELECT ROWNUM AS rnum, BOARD_NO, BOARD_TITLE, CREATE_DATE
	                                            FROM ( SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE
	                                                            FROM BOARD
	                                                            WHERE STATUS = 'Y'
	                                                              AND BOARD_TYPE_NO = 3
	                                                            ORDER BY CREATE_DATE DESC, BOARD_NO DESC) )
	                            WHERE BOARD_NO = ?)
	
	UNION
	
	-- 다음 글
	SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE,'next' AS post_position
	FROM (SELECT ROWNUM AS rnum, BOARD_NO, BOARD_TITLE, CREATE_DATE
	            FROM (SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE
	                        FROM BOARD
	                        WHERE STATUS = 'Y'
	                          AND BOARD_TYPE_NO = 3
	                        ORDER BY CREATE_DATE DESC, BOARD_NO DESC ))
	WHERE rnum = (SELECT rnum + 1
	                            FROM ( SELECT ROWNUM AS rnum, BOARD_NO, BOARD_TITLE, CREATE_DATE
	                                FROM (SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE
	                                            FROM BOARD
	                                            WHERE STATUS = 'Y'
	                                              AND BOARD_TYPE_NO = 3
	                                            ORDER BY CREATE_DATE DESC, BOARD_NO DESC))
	                             WHERE BOARD_NO = ?)
	ORDER BY CREATE_DATE DESC, BOARD_NO DESC
   	</entry>
    
    <!-- 게시글 작성 -->
    <entry key="insertFreeboard">
   		INSERT INTO BOARD( BOARD_NO
                   ,BOARD_TYPE_NO
                   ,USER_NO    
                   ,BOARD_TITLE
                   ,BOARD_CONTENT
                   ,CREATE_DATE)
		VALUES (SEQ_TNO.NEXTVAL,3,?,?,?,SYSDATE)
    </entry>
   	
   	
   	<!-- 게시글 수정 -->
    <entry key="updateFreeBoard">
    	UPDATE BOARD
		SET BOARD_TITLE = ?
		    ,BOARD_CONTENT = ?
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
    
    </entry>
    
    
    <!-- 게시글 삭제 -->
   	<entry key="deleteFreeBoard">
   		UPDATE BOARD
		SET STATUS='N'
		WHERE BOARD_NO = ? 
		AND STATUS = 'Y'
   	</entry>
   	
   	
   	<!--- Comment(Reply) 관련ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   	
      	
   	<entry key="cListCount">
 		SELECT COUNT(*) COUNT 
		FROM BOOK
   	</entry>
   
   
   	<entry key="selectCommentList">
 		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		        FROM(SELECT BOOK_ID,
                            BOOK_TITLE,
                            BOOK_AUTHOR
                     FROM BOOK
                     WHERE STATUS = 'Y') A)
		WHERE RNUM BETWEEN ? AND ?
   	</entry>
   	
   	<entry key="selectBookForComment">
 		SELECT  BOOK_ID,
 				BOOK_TITLE,
                BOOK_AUTHOR,
                PUBLISHER,
                SUMMARY
        FROM BOOK
        WHERE STATUS = 'Y'
        AND BOOK_ID = ?
   	</entry>
   	
   	<entry key="createComment">
		INSERT INTO BOARD
		VALUES(SEQ_TNO.NEXTVAL,2,?,?,DEFAULT,DEFAULT, SYSDATE, DEFAULT, DEFAULT)
   	</entry>
   	
   	<entry key="selectClist">
   		SELECT BOARD_NO
		FROM BOARD
		WHERE BOARD_TYPE_NO = 2
		AND BOOK_ID = ?
		AND STATUS = 'Y'
   	</entry>
   	
   	<entry key="createReply">
   		INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL,?,?,?, SYSDATE, DEFAULT)
   	</entry>
   	
   	<entry key="selectReply">
   		SELECT REPLY_NO,
                USER_ID,
                REPLY_CONTENT,
                CREATE_DATE
		FROM REPLY R
		JOIN MEMBER ON (REPLY_WRITER=USER_NO)
		WHERE BOARD_NO = ?
		AND R.STATUS = 'Y'
   	</entry>
   	
   	<entry key="replyCount">
   		SELECT COUNT(*) AS COUNT
		FROM REPLY 
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
   	</entry>	
   	
   	<entry key="updateComment">
  		UPDATE REPLY
		SET REPLY_CONTENT = ?
		    ,CREATE_DATE = SYSDATE
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
   	</entry>
   	
   	<entry key="deleteComment">
   		UPDATE REPLY
		SET STATUS='N'
		WHERE REPLY_NO = ? 
		AND STATUS = 'Y'
   	</entry>

   	
   	
</properties>