<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBook">
		SELECT BOOK_ID,
	           BOOK_TITLE,
	           BOOK_AUTHOR,
	           PUBLISHER,
	           PUBLISH_DATE,
	           ENROLL_DATE,
	           STATUS,
	           SUMMARY
		FROM BOOK
		WHERE BOOK_ID = ?
	</entry>
	<entry key="countRentUser">
		SELECT COUNT(*) RCOUNT
		FROM RENT
		WHERE USER_NO = ?
	</entry>
	<entry key="countRentLimit">
		SELECT RENT_LIMIT
		FROM MEMBER
		WHERE USER_NO = ?
	</entry>
	<entry key="countReserveUser">
		SELECT COUNT(*) RESCOUNT
		FROM RESERVE
		WHERE USER_NO = ?
	</entry>
	<entry key="insertRentBook">
		INSERT INTO RENT(BOOK_ID,USER_NO)
		VALUES(?,?)
	</entry>
	<entry key="insertReserveBook">
		INSERT INTO RESERVE(BOOK_ID,USER_NO)
		VALUES(?,?)
	</entry>
	<entry key="statusY">
		UPDATE BOOK
		SET STATUS = 'Y'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusB">
		UPDATE BOOK
		SET STATUS = 'B'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusR">
		UPDATE BOOK
		SET STATUS = 'R'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="statusN">
		UPDATE BOOK
		SET STATUS = 'N'
		WHERE BOOK_ID = ?
	</entry>
	<entry key="increaseRentCount">
		UPDATE BOOK
		SET RENT_COUNT = RENT_COUNT + 1
		WHERE BOOK_ID = ?
	</entry>
	<entry key="listCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
	</entry>
	
	<entry key="dayListCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
		WHERE TO_CHAR(SYSDATE)=TO_CHAR(ENROLL_DATE)
	</entry>
	
	<entry key="weekListCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
		WHERE ENROLL_DATE BETWEEN TRUNC(SYSDATE,'iw') AND (TRUNC(SYSDATE,'iw')+6)
	</entry>
	
	<entry key="monthListCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
		WHERE TO_CHAR(SYSDATE,'MM')=TO_CHAR(ENROLL_DATE,'MM')
	</entry>
	
	<entry key="clistCount">
		SELECT COUNT(*) COUNT
		FROM BOOK
		JOIN BOOK_CATEGORY USING(BOOK_ID)
		WHERE CATEGORY_NO = ?
	</entry>
	

	<entry key="selectCategory">
		SELECT CATEGORY_NO,
			   CATEGORY_NAME
		FROM BOOK_CATEGORY_INFO
	</entry>
	
	<entry key="bookRecommend">
		SELECT *
		FROM (SELECT * FROM BOOK
		ORDER BY RENT_COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
	
	<entry key="newListD">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
           	  FROM (SELECT BOOK_ID,
				           BOOK_TITLE,
				           BOOK_AUTHOR
					FROM BOOK
					WHERE TO_CHAR(SYSDATE)=TO_CHAR(ENROLL_DATE)) A)
	    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="newListW">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
           	  FROM (SELECT BOOK_ID,
				           BOOK_TITLE,
				           BOOK_AUTHOR
					FROM BOOK
					WHERE ENROLL_DATE BETWEEN TRUNC(SYSDATE,'iw') AND (TRUNC(SYSDATE,'iw')+6)) A)
	    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="newListM">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
           	  FROM (SELECT BOOK_ID,
				           BOOK_TITLE,
				           BOOK_AUTHOR
					FROM BOOK
					WHERE TO_CHAR(SYSDATE,'MM')=TO_CHAR(ENROLL_DATE,'MM')) A)
	    WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>